---
title: ThePhotoLabs has closed
---

<div class="welcome">
  <h1>ThePhotoLabs has closed</h1>
  <h2>Please visit CloudHDR,<br/>a new project with a similar goal,<br/> built with Photomatix.</h2>
  <%= link_to image_tag('cloudhdr.png'), 'http://www.cloudhdr.com/' %>
</div><!-- .welcome -->
